@import url("reset.css");

body {
    font-family:"Press Start 2P";
}

h1 {
	font-size: 48pt;
    text-align:center;
    margin-bottom:32px;
}


p {
	margin-top:10%;
	font-size: 24pt;
	text-align:center;
}
/*Make game box have jaggy pixelated corners*/
#game{
    position:relative;
    left:0;
    top:0;
    margin-left:auto;
    margin-right:auto;
    padding-left:120px;
    padding-right:120px;
    width:50%;
    min-width:640px;
    height:480px;
    image-rendering: -moz-crisp-edges;
    border:10px solid blue;
    background-color:#AAA
}

#score h2{
    font-size:48pt;
}

#score h3{
    font-size:32pt;
}


#score{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.hide{
    display:none;
}

#player-sprite{
    position:absolute;
    bottom:0;
    width:240px;
    height:180px;
    background-image:url("../images/AlexKidd.png");
    background-repeat:no-repeat;
    background-size:600%;
}

.player-sprite-idle{
    animation: player-idle 1s infinite steps(2);
}

@keyframes player-idle {
    from {
        background-position: 20% 0;
    }
    to {
        background-position: 60% 0;
    }
}

.player-sprite-choosing{
    animation: player-choosing 1s steps(2);
    animation-iteration-count: 2;
}

@keyframes player-choosing {
    from {
        background-position: 0% 0;
    }
    to {
        background-position: 40% 0;
    }
}

.player-sprite-rock{
    background-position: 60% 0;
}

.player-sprite-scissors{
    background-position: 80% 0;
}

.player-sprite-paper{
    background-position: 100% 0;
}

#computer-container{
    position:absolute;
    height:320px;
    width:320px;
    right:0px;
    bottom:0px;
    padding:inherit;
}
#container{
    position:relative;
    top:0;
    height:100%;
}


#computer-sprite{
    position:absolute;
    bottom:0;
    right:0;
    width:240px;
    height:240px;
    background-image:url("../images/Boss.png");
    background-repeat:no-repeat;
    background-size:900%;  
}

.computer-sprite-idle{
    animation: computer-idle 1s infinite steps(2);
}

@keyframes computer-idle {
    from {
        background-position: 12.5% 0;
    }
    to {
        background-position: -12.5% 0;
    }
}

.computer-sprite-choosing{
    animation: computer-choosing 1s steps(2);
    animation-iteration-count: 3;
}

@keyframes computer-choosing {
    from {
        background-position: 25% 0;
    }
    to {
        background-position: 50% 0;
    }
}

.computer-sprite-rock{
    background-position:50% 0;
}

.computer-sprite-scissors{
    background-position:62.5% 0;
}

.computer-sprite-paper{
    background-position:75% 0;
}

#hand-buttons{
    position:absolute;
    height:128px;
    left:5px;
    bottom:180px;

}

.hand-bttn{
    top:0;
    left:0;
    position:absolute;
    display:inline-block;
    width:96px;
    height:96px;
    background-image:url("../images/hand-buttons.png");
    background-repeat:no-repeat;
    background-position-y:0px;
    background-size:300%;
    transform-origin:50% 200%;
}

#rock-bttn{
    background-position-x:0;
    transform:rotate(-45deg);
}

#paper-bttn{
    background-position-x:100%;
}

#scissors-bttn{
    background-position-x:50%;
    transform:rotate(45deg);
}


#dialog-box{
    position:absolute;
    left:15%;
    width:65%;
    height:35%;
    border:10px solid blue;
    background-color:#CCC;

}

#dialog-box p{
    margin:10px;
}

.dialog_button{
    font-size:16pt;
    font-family:"Press Start 2P";
    background-color:blue;
    color:yellow;
    border:10px solid yellow;
    width:50%;
    margin-left:25%;
    padding:10px;
    text-align:center;
}

.dialog_button:hover{
    box-shadow:inset 5px 5px 10px black;


}

#music-bttn{
    position:absolute;
    top:8px;
    left:8px;
    width:48px;
    height:48px;
    background-image:url("../images/music-bttn.png");
    background-size:200%;
    border:none;
    background-color:#aaa;
}

.music-bttn-off{
    background-position-x:100%;
}